{% extends 'base.html' %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for movie in movie_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="http://127.0.0.1:8000/media/{{movie.image}}" alt="" width="100%" height="225">

                    <div class="card-body">
                        <p><b>{{movie.title}}</b></p>
                        <p class="card-text">{{movie.subtitle|striptags|truncatechars:100}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}